<div>Čia bus puslapio body dalis</div>
<div>
    <input type="number" id="ugis" name="ugis" [(ngModel)]="ugis">
    <br>
    <input type="number" id="svoris" name="svoris" [(ngModel)]="svoris">
    <br>
    <button type="button" (click) = "skaiciuoti()">Skaiciuoti</button>
    <br>
    <div *ngIf="kmi!=0 && kmi<=25">
        Jusu svoris normalus. KMI: <strong>{{ kmi }}</strong>
    </div>
    <div *ngIf="kmi!=0 && kmi>=25">
        Eik sportuot. KMI: <strong>{{ kmi }}</strong>
    </div>
    <div *ngIf="kmi==0">
        Iveskite svori ir paspauskite skaiciuoti
    </div>
</div>